.App {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 8px;
  max-width: min(40%, 1000px);
  margin-inline: auto;
  background-color: skyblue;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}